{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'project/favicon.ico' %}"/>
        <title>{% block title %}Unix final project{% endblock %}</title>
        <link href="{% static 'project/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'project/css/bootstrap.min.css' %}">
        <script href="{% static 'project/js/bootstrap.bundle.min.js' %}"></script>
    </head>
    <body>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>