{% extends 'project/layout.html' %}

{% block body %}
    {% load static %}
    <div class="login-container center-horizontal  center-vertical container" style="width: 15%; max-width: 15%">
        <h1 style="margin-bottom: 10px; text-align: center">Login</h1>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="DemonSlayer96">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>

        <button id="login" class="btn btn-primary" style="width: 100%; margin-bottom: 15px">Login</button>
    </div>

    <div class="container under center-horizontal" style="width: 15%; max-width: 15%;">
        Don't have an account? <a href="{% url 'signup' %}">Create an account</a>
    </div>

    <script>
        let showedError = false;
        const button = document.getElementById("login");
        button.onclick = () => {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            // send post request in background
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('X-CSRFToken', "{{ csrf_token }}");
            xhr.send(JSON.stringify({
                username: username,
                password: password
            }));
            xhr.onreadystatechange = () => {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    const status = xhr.status;
                    // if post request is good, redirect to index
                    if (status === 200)
                        window.location.href = "{% url 'index' %}";
                    else if ((status !== 0 || !(status >= 200 && status < 400))  && !showedError) {
                        showError(xhr.response.error);
                    }
                }
            }

        };

        function showError(errorMsg) {
            let messageDiv = document.getElementById("errorDiv");
            // if the messageDiv does not exist, create it
            if (messageDiv === null) {
                messageDiv = document.createElement("div");
                messageDiv.setAttribute("id", "errorDiv");
            }

            messageDiv.classList.add("alert", "alert-danger");
            messageDiv.style.textAlign = "center";
            messageDiv.innerText = errorMsg;
            document.body.appendChild(messageDiv);
        }

    </script>
{% endblock %}